*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/google-services.json
.cxx
local.properties
src/main/res/mymessenger-73602-firebase-adminsdk-8ogzt-33709015c0.json

